<aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">

    <a href="./index.html" class="sidebar__logo logo" rel="home" itemprop="url" accesskey="0">
        <meta itemprop="name" content="content">

        <svg class="logo__src" role="img">
            <use xlink:href="#logo"/>
        </svg>
    </a>

    {% include "components/_navigation.html" %}

    <button type="button" class="button">забронировать стол</button>

    {% include "components/_social.html" %}
</aside>
