<div class="social">
    <div class="social__title">Мы в социальных сетях</div>

    <ul class="social__list">
        <li class="social__item">
            <a href="https://fb.com/" class="social__link" target="_blank">
                <svg class="social__link__ico" role="img">
                    <use xlink:href="#facebook"/>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="https://instagram.com/" class="social__link" target="_blank">
                <svg class="social__link__ico" role="img">
                    <use xlink:href="#instagram"/>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="https://vk.com/" class="social__link" target="_blank">
                <svg class="social__link__ico" role="img">
                    <use xlink:href="#vk"/>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="https://ok.ru/" class="social__link" target="_blank">
                <svg class="social__link__ico" role="img">
                    <use xlink:href="#ok"/>
                </svg>
            </a>
        </li>
    </ul>
</div>
