<button type="button" class="sandwich j-sandwich-menu" aria-label="Меню">
    <span class="sandwich__layer"></span>
</button>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">

        <div class="layout-header__content">
            <div class="layout-header__info">
                <div class="phone">
                    <a href="tel:+79385111616" class="phone__link">8 (938) 511-16-16</a>
                </div>

                <div class="worktime">
                    <div class="worktime__row">Пт,Сб&nbsp;&mdash; с&nbsp;12:00 до&nbsp;4:00</div>
                    <div class="worktime__row">Вс-Чт&nbsp;&mdash; с&nbsp;12:00 до&nbsp;2:00</div>
                </div>
            </div>

            <div class="layout-header__address address">
                г. Краснодар, МКР &laquo;Панорама&raquo;,<br>ул. Жлобы, 137
            </div>

            <a href="/cart.html" class="cart-holder">
                <div class="cart-holder__header">
                    <svg class="cart-holder__ico" role="img"><use xlink:href="#cart"/></svg>
                    <div class="cart-holder__count j-cart-count">0</div>
                </div>

                <div class="cart-holder__label">Корзина</div>
                <div class="cart-holder__price">на сумму <span class="j-cart-amount">0</span> руб.</div>
            </a>
        </div>

	</div>
</header>
