$event-padding: 15px;

.event-item {
    position: relative;
    background-color: #fffffe;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: stretch;
    // flex-direction: column;
    // justify-content: space-between;

    &__image {
        width: 100%;
        outline: 0;
        display: block;
        user-select: none;

        &__layout {
            font-size: 0;
            line-height: 1;
            display: block;
            position: relative;

            &:before {
                width: 100%;
                content: "";
                display: block;
                padding-bottom: 77.6162791%;
            }
        }

        &__src {
            height: auto;
            max-width: 100%;
            position: absolute 0;
        }
    }

    &__content {
        padding: 30px $event-padding;
        position: relative;
    }

    &__date {
        position: absolute;
        left: 0;
        top: -64px;
        z-index: 1;
        width: 35%;
        min-width: 120px;
        height: 65px;
        padding: 15px $event-padding;
        background-color: #fffffe;

        &__day {
            color: #0054ff;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 5px;
        }

        &__month {
            color: #4d4d4d;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1;
        }
    }

    &__title {
        color: #323d49;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1,6;
        margin-bottom: 30px;
    }

    &__footer {
        text-align: left;
    }

    &__place {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__button {
        @extend %button;

        height: 40px;
        padding: 0 22px;
        line-height: 36px;
        border-radius: 20px;
        border: 2px solid #4284fc;
        background-color: #fffffe;
        box-shadow: 0 10px 7px rgba(0, 0, 0, 0.1);
        transition: transform $a-micro-time ease, box-shadow $a-micro-time ease;

        color: #010100;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.001rem;

        @include outline($c-focus-color, 2px, true, false, ', 0 10px 7px rgba(0, 0, 0, 0.1)');

        &:active {
            transform: translate3d(0, 4px, 0);
            @include outline($c-focus-color, 2px, true, false, ', 0 5px 3px rgba(0, 0, 0, 0.1)');
        }
    }
}
