.form {

    &__star {
        color: #c62a2a;
    }

    &__require {
        color: #a8bccd;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 20px;
        letter-spacing: 0.047rem;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__col {
        width: 50%;

        &--quarter {
            width: 25%;
        }

        &:not(:last-child) {
            padding-right: 10px;
        }

        &:not(:first-child) {
            padding-left: 10px;
        }
    }

    &__input {
        display: block;
        margin-bottom: 20px;

        &__title {
            color: #16212e;
            display: block;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 10px;
            letter-spacing: 0.047rem;
        }

        &__field {
            height: 45px;
            color: #000;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 1.5rem;
            font-weight: 400;
            border: 1px solid #fff;
            letter-spacing: 0.045rem;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
            background-color: #fff;
            transition: border-color $a-micro-time ease;

            @include placeholder(#b7b7b7, 1);

            &.is-error {
                border: 1px solid #cf5252;
            }

            &--text {
                height: 135px;
                min-height: 135px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        &__danger {
            color: #c62a2a;
            display: none;
            margin-top: 6px;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.047rem;
        }

        &__field.is-error + &__danger {
            display: block;
        }
    }

    &__button {
        display: block;
        text-align: right;
    }
}
