.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-left: -8px;
    margin-right: -8px;

    &:not(:last-child) {
        margin-bottom: 60px;
    }

    &:after {
        flex: auto;
        content: "";
    }

    @media (max-width: 667px) {
        margin-left: -5px;
        margin-right: -5px;

        &:after {
            width: 100%;
            max-width: calc(50% - 5px);
        }
    }

    &__item {
        width: calc(25% - 16px);
        min-width: 240px;
        margin: 0 8px 16px;

        @media (max-width: 667px) {
            & {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    &__center {
        text-align: center;
    }

    &__button {
        min-width: 183px
    }
}
