.navigation {
    clear: both;
    margin-bottom: 50px;

    &__list {
        clear: both;
    }

    &__item {
        clear: both;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        color: #7c90a7;
        font-size: 2.3rem;
        font-weight: 400;
        line-height: 1;
        text-decoration: none;
        letter-spacing: 0.002rem;

        &.is-current {
            color: #16212e;
        }
    }
}
