.worktime {
    color: #7d8eaa;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.08;
    letter-spacing: 0.001rem;
    padding-left: 22px;
    background: url(/images/clock.svg) 0 5px no-repeat;
    background-size: 13px 13px;
}
