.layout-header {
    clear: both;
    position: relative;
    height: $header-height;

    &__wrapper {
        @extend %layout;

        display: flex;
        justify-content: space-between;
    }
}
