.layout-header {
    clear: both;
    position: relative;
    height: $header-height;

    &__wrapper {
        @extend %layout;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__content {
        width: 100%;
        padding-top: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }

    &__info {
        text-align: left;
        margin-right: 60px;
    }

    &__address {
        margin-right: 140px;
    }
}
