$footer-offset: $footer-height + $footer-margin;

.layout-wrapper {
    width: 100%;
    min-height: calc(100% - #{$footer-offset});
    overflow: hidden;
    position: relative;

    &__pusher {
        padding-bottom: $footer-height + $footer-margin;
    }

    &__container {
        @extend %layout;
    }
}
