---
title: Контакты
current: contacts
---
{% extends "layouts/_base.html" %}

{% block content %}

    <div class="contacts">
        <div class="contacts__map">
            {# <img src="/images/blue-marker.png" alt=""> #}
            <img src="/images/map.jpg" width="100%" alt="">
        </div>

        <div class="contacts__row">
            <div class="contacts__item contacts__item--marker">
                г. Ростов-на-Дону<br>
                прт. Коммунистический, 36/4
            </div>

            <div class="contacts__item contacts__item--phone">
                Тел: <a href="tel:8-898-811-16-16" title="">8 (898) 811-16-16</a><br>
                Моб: <a href="tel:8-898-811-16-16" title="">8 (898) 811-16-16</a>
            </div>

            <div class="contacts__item contacts__item--clock">
                c ПН по ПТ: 09:00 – 22:00<br>
                суббота: 11:00 – 02:00<br>
                воскресенье: закрыто
            </div>
        </div>

        <form action="" method="POST" class="contacts__feedback feedback">
            <div class="feedback__title">ОБРАТНАЯ СВЯЗЬ</div>
            <div class="form__require"><span class="form__star">*</span> обязательно для заполнения</div>

            <label class="form__input">
                <span class="form__input__title">Представьтесь <span class="form__star">*</span></span>
                <input class="form__input__field" title="Представьтесь">
                <div class="form__input__danger">Не заполнено поле</div>
            </label>

            <label class="form__input">
                <span class="form__input__title">Тема сообщения</span>
                <input class="form__input__field" title="Тема сообщения">
            </label>

            <div class="form__row">
                <div class="form__col">
                    <label class="form__input">
                        <span class="form__input__title">Электронная почта <span class="form__star">*</span></span>
                        <input class="form__input__field" title="Электронная почта">
                        <div class="form__input__danger">Неправильный формат электронной почты</div>
                    </label>
                </div>

                <div class="form__col">
                    <label class="form__input">
                        <span class="form__input__title">Номер телефона</span>
                        <input class="form__input__field mask-phone" title="Номер телефона">
                        <div class="form__input__danger">Неправильный формат номера телефона</div>
                    </label>
                </div>
            </div>

            <label class="form__input">
                <span class="form__input__title">Текст сообщения <span class="form__star">*</span></span>
                <textarea class="form__input__field form__input__field--text" title="Текст сообщения"></textarea>
            </label>

            <div class="form__button">
                <button type="submit" class="button">ОТПРАВИТЬ</button>
            </div>
        </form>
    </div>

{% endblock %}
