h1 {
    color: #7c90a7;
    font-size: 4.9rem;
    font-weight: 400;
    line-height: 1.4;
    margin-top: -10px;
    margin-bottom: 15px;
    letter-spacing: 0.002rem;
    border: 1px solid lime;
}

h2 {
    color: #424a54;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.001rem;
}
